@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6 col-xs-12">
        @Html.ActionLink("I am a user", "Index", "Employee")
    </div>
    <div class="col-md-6 col-xs-12">
        @Html.ActionLink("I am a manager", "Index", "Manager")
    </div>
</div>
