@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6 col-xs-12">
        <a asp-area="" asp-controller="Employee">I am a user</a></div>
    <div class="col-md-6 col-xs-12">
        <a asp-area="" asp-controller="Manager">I am a manager</a>
    </div>
</div>
